extends layout

block content
    div.form-panel
        div.edit-header Edit Pokemon Card
            form(action=`/edit/${pokemon.id}` method='post')
                div.form-input
                    label(for='name') Name:
                    input(type='text' id='name' name='name' value=pokemon.name)
                div.form-input
                    label(for="type") Type:
                        select(name="type" id="type")
                            option(value="Electric") Electric
                            option(value="Grass") Grass
                            option(value="Water") Water
                            option(value="Fire") Fire
                            option(value="Steel") Steel
                            option(value="Fighting") Fighting
                div.form-input
                    label(for="hp") HP:
                    input(type='text' id='hp' name='hp' value=pokemon.hp)
                div.form-input
                    label(for="first_power") Power One:
                    input(type='text' id='first_power' name='first_power' value=pokemon.first_power)
                    div.button-row
                        a.button.cancel(href='/') Cancel
                        button.button.save(type='submit') Submit